In [28]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [29]:
RawScore_df = pd.read_csv('compas-scores-raw.csv')

In [30]:
RawScore_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60843 entries, 0 to 60842
Data columns (total 28 columns):
Person_ID                  60843 non-null int64
AssessmentID               60843 non-null int64
Case_ID                    60843 non-null int64
Agency_Text                60843 non-null object
LastName                   60843 non-null object
FirstName                  60843 non-null object
MiddleName                 15648 non-null object
Sex_Code_Text              60843 non-null object
Ethnic_Code_Text           60843 non-null object
DateOfBirth                60843 non-null object
ScaleSet_ID                60843 non-null int64
ScaleSet                   60843 non-null object
AssessmentReason           60843 non-null object
Language                   60843 non-null object
LegalStatus                60843 non-null object
CustodyStatus              60843 non-null object
MaritalStatus              60843 non-null object
Screening_Date             60843 non-null object
RecSupervisionLevel        60843 non-null int64
RecSupervisionLevelText    60843 non-null object
Scale_ID                   60843 non-null int64
DisplayText                60843 non-null object
RawScore                   60843 non-null float64
DecileScore                60843 non-null int64
ScoreText                  60798 non-null object
AssessmentType             60843 non-null object
IsCompleted                60843 non-null int64
IsDeleted                  60843 non-null int64
dtypes: float64(1), int64(9), object(18)
memory usage: 13.0+ MB

In [31]:
RawScore_df.head(100)

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,...,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
0,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,Male,Caucasian,12/05/92,...,1,Low,7,Risk of Violence,-2.08,4,Low,New,1,0
1,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,Male,Caucasian,12/05/92,...,1,Low,8,Risk of Recidivism,-1.06,2,Low,New,1,0
2,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,Male,Caucasian,12/05/92,...,1,Low,18,Risk of Failure to Appear,15.00,1,Low,New,1,0
3,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,Male,Caucasian,09/16/84,...,1,Low,7,Risk of Violence,-2.84,2,Low,New,1,0
4,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,Male,Caucasian,09/16/84,...,1,Low,8,Risk of Recidivism,-1.50,1,Low,New,1,0
5,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,Male,Caucasian,09/16/84,...,1,Low,18,Risk of Failure to Appear,19.00,3,Low,New,1,0
6,50855,57181,51963,PRETRIAL,DAYES,DANIEL,NaN,Male,African-American,08/25/94,...,4,High,7,Risk of Violence,-1.20,8,High,New,1,0
7,50855,57181,51963,PRETRIAL,DAYES,DANIEL,NaN,Male,African-American,08/25/94,...,4,High,8,Risk of Recidivism,0.18,8,High,New,1,0
8,50855,57181,51963,PRETRIAL,DAYES,DANIEL,NaN,Male,African-American,08/25/94,...,4,High,18,Risk of Failure to Appear,13.00,1,Low,New,1,0
9,50850,57176,51958,PRETRIAL,Debe,Mikerlie,George,Female,African-American,10/09/94,...,2,Medium,7,Risk of Violence,-1.29,7,Medium,New,1,0
10,50850,57176,51958,PRETRIAL,Debe,Mikerlie,George,Female,African-American,10/09/94,...,2,Medium,8,Risk of Recidivism,-0.53,6,Medium,New,1,0
11,50850,57176,51958,PRETRIAL,Debe,Mikerlie,George,Female,African-American,10/09/94,...,2,Medium,18,Risk of Failure to Appear,11.00,1,Low,New,1,0
12,50839,57162,51945,PRETRIAL,McLaurin,Stephanie,Nicole,Female,African-American,06/29/85,...,1,Low,7,Risk of Violence,-2.90,2,Low,New,1,0
13,50839,57162,51945,PRETRIAL,McLaurin,Stephanie,Nicole,Female,African-American,06/29/85,...,1,Low,8,Risk of Recidivism,-1.55,2,Low,New,1,0
14,50839,57162,51945,PRETRIAL,McLaurin,Stephanie,Nicole,Female,African-American,06/29/85,...,1,Low,18,Risk of Failure to Appear,16.00,2,Low,New,1,0
15,50852,57179,51961,PRETRIAL,Holland,Terrance,NaN,Male,Hispanic,01/11/84,...,3,Medium with Override Consideration,7,Risk of Violence,-1.33,7,Medium,New,1,0
16,50852,57179,51961,PRETRIAL,Holland,Terrance,NaN,Male,Hispanic,01/11/84,...,3,Medium with Override Consideration,8,Risk of Recidivism,0.71,10,High,New,1,0
17,50852,57179,51961,PRETRIAL,Holland,Terrance,NaN,Male,Hispanic,01/11/84,...,3,Medium with Override Consideration,18,Risk of Failure to Appear,24.00,6,Medium,New,1,0
18,50840,57163,51946,PRETRIAL,Colon,Susana,NaN,Female,Caucasian,10/17/66,...,1,Low,7,Risk of Violence,-3.01,1,Low,New,1,0
19,50840,57163,51946,PRETRIAL,Colon,Susana,NaN,Female,Caucasian,10/17/66,...,1,Low,8,Risk of Recidivism,-1.74,1,Low,New,1,0
20,50840,57163,51946,PRETRIAL,Colon,Susana,NaN,Female,Caucasian,10/17/66,...,1,Low,18,Risk of Failure to Appear,19.00,3,Low,New,1,0
21,50853,57178,51960,PRETRIAL,Brown,Devaughn,NaN,Male,African-American,07/25/93,...,3,Medium with Override Consideration,7,Risk of Violence,-1.44,7,Medium,New,1,0
22,50853,57178,51960,PRETRIAL,Brown,Devaughn,NaN,Male,African-American,07/25/93,...,3,Medium with Override Consideration,8,Risk of Recidivism,0.38,9,High,New,1,0
23,50853,57178,51960,PRETRIAL,Brown,Devaughn,NaN,Male,African-American,07/25/93,...,3,Medium with Override Consideration,18,Risk of Failure to Appear,20.00,3,Low,New,1,0
24,50847,57170,51953,PRETRIAL,Walters,Patwayne,B,Male,Other,10/24/72,...,1,Low,7,Risk of Violence,-3.03,1,Low,New,1,0
25,50847,57170,51953,PRETRIAL,Walters,Patwayne,B,Male,Other,10/24/72,...,1,Low,8,Risk of Recidivism,-1.21,2,Low,New,1,0
26,50847,57170,51953,PRETRIAL,Walters,Patwayne,B,Male,Other,10/24/72,...,1,Low,18,Risk of Failure to Appear,16.00,2,Low,New,1,0
27,50842,57165,51948,PRETRIAL,Mulligan,William,Joseph,Male,Caucasian,10/25/86,...,1,Low,7,Risk of Violence,-2.69,2,Low,New,1,0
28,50842,57165,51948,PRETRIAL,Mulligan,William,Joseph,Male,Caucasian,10/25/86,...,1,Low,8,Risk of Recidivism,-1.31,2,Low,New,1,0
29,50842,57165,51948,PRETRIAL,Mulligan,William,Joseph,Male,Caucasian,10/25/86,...,1,Low,18,Risk of Failure to Appear,13.00,1,Low,New,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,50864,57192,51974,PRETRIAL,Canuet,Jules,NaN,Male,Caucasian,10/17/89,...,1,Low,8,Risk of Recidivism,-1.18,2,Low,New,1,0
71,50864,57192,51974,PRETRIAL,Canuet,Jules,NaN,Male,Caucasian,10/17/89,...,1,Low,18,Risk of Failure to Appear,16.00,2,Low,New,1,0
72,50865,57193,51975,PRETRIAL,CHERENFANT,NATACHA,NaN,Female,African-American,03/01/80,...,1,Low,7,Risk of Violence,-3.23,1,Low,New,1,0
73,50865,57193,51975,PRETRIAL,CHERENFANT,NATACHA,NaN,Female,African-American,03/01/80,...,1,Low,8,Risk of Recidivism,-1.79,1,Low,New,1,0
74,50865,57193,51975,PRETRIAL,CHERENFANT,NATACHA,NaN,Female,African-American,03/01/80,...,1,Low,18,Risk of Failure to Appear,14.00,1,Low,New,1,0
75,50871,57200,51981,PRETRIAL,Brownlee,Ricky,NaN,Male,African-American,11/03/75,...,4,High,7,Risk of Violence,-0.15,10,High,New,1,0
76,50871,57200,51981,PRETRIAL,Brownlee,Ricky,NaN,Male,African-American,11/03/75,...,4,High,8,Risk of Recidivism,0.31,9,High,New,1,0
77,50871,57200,51981,PRETRIAL,Brownlee,Ricky,NaN,Male,African-American,11/03/75,...,4,High,18,Risk of Failure to Appear,28.00,8,High,New,1,0
78,50875,57206,51987,Probation,renz,daniel,NaN,Male,Caucasian,12/20/78,...,2,Medium,7,Risk of Violence,-2.80,2,Low,New,1,0
79,50875,57206,51987,Probation,renz,daniel,NaN,Male,Caucasian,12/20/78,...,2,Medium,8,Risk of Recidivism,0.00,7,Medium,New,1,0
80,50875,57206,51987,Probation,renz,daniel,NaN,Male,Caucasian,12/20/78,...,2,Medium,18,Risk of Failure to Appear,21.00,4,Low,New,1,0
81,29205,57184,51966,Probation,Banner,Akeine,NaN,Male,African-American,11/10/88,...,3,Medium with Override Consideration,7,Risk of Violence,-1.87,5,Medium,New,1,0
82,29205,57184,51966,Probation,Banner,Akeine,NaN,Male,African-American,11/10/88,...,3,Medium with Override Consideration,8,Risk of Recidivism,0.48,9,High,New,1,0
83,29205,57184,51966,Probation,Banner,Akeine,NaN,Male,African-American,11/10/88,...,3,Medium with Override Consideration,18,Risk of Failure to Appear,20.00,3,Low,New,1,0
84,31285,57205,51986,PRETRIAL,deutsch,zackery,NaN,Male,Caucasian,12/28/92,...,4,High,7,Risk of Violence,-1.18,8,High,New,1,0
85,31285,57205,51986,PRETRIAL,deutsch,zackery,NaN,Male,Caucasian,12/28/92,...,4,High,8,Risk of Recidivism,0.49,9,High,New,1,0
86,31285,57205,51986,PRETRIAL,deutsch,zackery,NaN,Male,Caucasian,12/28/92,...,4,High,18,Risk of Failure to Appear,24.00,6,Medium,New,1,0
87,50872,57201,51982,Probation,cross,tracy,NaN,Male,African-American,08/06/94,...,3,Medium with Override Consideration,7,Risk of Violence,-1.36,7,Medium,New,1,0
88,50872,57201,51982,Probation,cross,tracy,NaN,Male,African-American,08/06/94,...,3,Medium with Override Consideration,8,Risk of Recidivism,0.57,9,High,New,1,0
89,50872,57201,51982,Probation,cross,tracy,NaN,Male,African-American,08/06/94,...,3,Medium with Override Consideration,18,Risk of Failure to Appear,22.00,5,Medium,New,1,0
90,50860,57187,51969,PRETRIAL,STEWART,MELVIN,LENARD,Male,African-American,02/28/89,...,3,Medium with Override Consideration,7,Risk of Violence,-2.09,4,Low,New,1,0
91,50860,57187,51969,PRETRIAL,STEWART,MELVIN,LENARD,Male,African-American,02/28/89,...,3,Medium with Override Consideration,8,Risk of Recidivism,0.41,9,High,New,1,0
92,50860,57187,51969,PRETRIAL,STEWART,MELVIN,LENARD,Male,African-American,02/28/89,...,3,Medium with Override Consideration,18,Risk of Failure to Appear,14.00,1,Low,New,1,0
93,50861,57189,51971,PRETRIAL,LOWERY,REBECCA,GAIL,Female,Caucasian,04/18/60,...,3,Medium with Override Consideration,7,Risk of Violence,-2.40,3,Low,New,1,0
94,50861,57189,51971,PRETRIAL,LOWERY,REBECCA,GAIL,Female,Caucasian,04/18/60,...,3,Medium with Override Consideration,8,Risk of Recidivism,-0.11,8,High,New,1,0
95,50861,57189,51971,PRETRIAL,LOWERY,REBECCA,GAIL,Female,Caucasian,04/18/60,...,3,Medium with Override Consideration,18,Risk of Failure to Appear,25.00,7,Medium,New,1,0
96,50879,57210,51991,PRETRIAL,BUSH,FREDDIE,NaN,Male,African-American,07/31/67,...,1,Low,7,Risk of Violence,-2.94,2,Low,New,1,0
97,50879,57210,51991,PRETRIAL,BUSH,FREDDIE,NaN,Male,African-American,07/31/67,...,1,Low,8,Risk of Recidivism,-1.56,1,Low,New,1,0
98,50879,57210,51991,PRETRIAL,BUSH,FREDDIE,NaN,Male,African-American,07/31/67,...,1,Low,18,Risk of Failure to Appear,18.00,3,Low,New,1,0
99,50866,57194,51976,PRETRIAL,SCHWAB,GARY,NaN,Male,Caucasian,10/01/55,...,1,Low,7,Risk of Violence,-4.28,1,Low,New,1,0

### Change Date of Birth to 4 digit year ###

In [32]:
RawScore_df['DateOfBirth']=RawScore_df['DateOfBirth'].apply(lambda x: str(x[:5]) +'/'+'19'+str(x[6:]))

In [33]:
RawScore_df['DateOfBirth']=pd.to_datetime(RawScore_df['DateOfBirth'], format='%m/%d/%Y') #convert to datetime object

In [34]:
RawScore_df['BirthYear']=RawScore_df['DateOfBirth'].dt.year #get the year for BirthDate

In [35]:
RawScore_df['Screening_Date']=pd.to_datetime(RawScore_df['Screening_Date'], infer_datetime_format=True) #convert to datetime object

In [36]:
RawScore_df['ScreeningYear']=RawScore_df['Screening_Date'].dt.year #get the year for ScreeningDate

## Age Variable ##

In [37]:
RawScore_df['Age']=(RawScore_df['ScreeningYear']-RawScore_df['BirthYear'])

In [38]:
RawScore_df = RawScore_df.loc[RawScore_df['BirthYear']>=1945] #removes outliers

In [39]:
RawScore_df['Age'].describe()

count    60516.000000
mean        33.944329
std         11.859561
min         16.000000
25%         24.000000
50%         31.000000
75%         42.000000
max         69.000000
Name: Age, dtype: float64

## Make Seasons Variable ##

In [40]:
RawScore_df['ScreeningMonth']=RawScore_df['Screening_Date'].dt.month #get the month for ScreeningDate

In [41]:
RawScore_df['ScreenSeason'] = 'All' #creates ScreenSeason column
RawScore_df.loc[RawScore_df['ScreeningMonth'] == 12, 'ScreenSeason'] = 'Winter' 
RawScore_df.loc[(RawScore_df['ScreeningMonth'] >=1) & (RawScore_df['ScreeningMonth'] <3), 'ScreenSeason'] = 'Winter'
RawScore_df.loc[(RawScore_df['ScreeningMonth'] >=3) & (RawScore_df['ScreeningMonth'] <6), 'ScreenSeason'] = 'Spring'
RawScore_df.loc[(RawScore_df['ScreeningMonth'] >=6) & (RawScore_df['ScreeningMonth'] <9), 'ScreenSeason'] = 'Summer'
RawScore_df.loc[(RawScore_df['ScreeningMonth'] >=9) & (RawScore_df['ScreeningMonth'] <12), 'ScreenSeason'] = 'Fall'

## Sex_Code_Text Feature (binary): 0=Female, 1=Male

In [42]:
RawScore_df['Sex_Code_Text'].replace('Female', 0,inplace=True)
RawScore_df['Sex_Code_Text'].replace('Male', 1,inplace=True)

In [43]:
RawScore_df.head()

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,...,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted,BirthYear,ScreeningYear,Age,ScreeningMonth,ScreenSeason
0,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,1,Caucasian,1992-12-05,...,4,Low,New,1,0,1992,2013,21,1,Winter
1,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,1,Caucasian,1992-12-05,...,2,Low,New,1,0,1992,2013,21,1,Winter
2,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,1,Caucasian,1992-12-05,...,1,Low,New,1,0,1992,2013,21,1,Winter
3,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,1,Caucasian,1984-09-16,...,2,Low,New,1,0,1984,2013,29,1,Winter
4,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,1,Caucasian,1984-09-16,...,1,Low,New,1,0,1984,2013,29,1,Winter

## Ethnic_Code_Text (one-hot)

In [44]:
RawScore_df = pd.concat([RawScore_df.drop('Ethnic_Code_Text', axis=1), pd.get_dummies(RawScore_df['Ethnic_Code_Text'])], axis=1)

In [45]:
# renaming Other column name to avoid naming conflicts
RawScore_df=RawScore_df.rename(columns = {'Other':'Other_ethnicity'})

In [46]:
RawScore_df.head()

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,DateOfBirth,ScaleSet_ID,...,ScreenSeason,African-Am,African-American,Arabic,Asian,Caucasian,Hispanic,Native American,Oriental,Other_ethnicity
0,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,1,1992-12-05,22,...,Winter,0,0,0,0,1,0,0,0,0
1,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,1,1992-12-05,22,...,Winter,0,0,0,0,1,0,0,0,0
2,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,1,1992-12-05,22,...,Winter,0,0,0,0,1,0,0,0,0
3,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,1,1984-09-16,22,...,Winter,0,0,0,0,1,0,0,0,0
4,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,1,1984-09-16,22,...,Winter,0,0,0,0,1,0,0,0,0

## Language(binary): 0=English 1=Spanish

In [47]:
RawScore_df['Language'].replace('English', 0, inplace=True)
RawScore_df['Language'].replace('Spanish', 1, inplace=True)

## LegalStatus (one-hot)

In [48]:
RawScore_df = pd.concat([RawScore_df.drop('LegalStatus', axis=1), pd.get_dummies(RawScore_df['LegalStatus'])], axis=1)

In [49]:
# renaming Other column name to avoid naming conflicts
RawScore_df=RawScore_df.rename(columns = {'Other':'Other_legal'})

In [50]:
RawScore_df.head()

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,DateOfBirth,ScaleSet_ID,...,Native American,Oriental,Other_ethnicity,Conditional Release,Deferred Sentencing,Other_legal,Parole Violator,Post Sentence,Pretrial,Probation Violator
0,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,1,1992-12-05,22,...,0,0,0,0,0,0,0,0,1,0
1,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,1,1992-12-05,22,...,0,0,0,0,0,0,0,0,1,0
2,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,1,1992-12-05,22,...,0,0,0,0,0,0,0,0,1,0
3,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,1,1984-09-16,22,...,0,0,0,0,0,0,0,0,1,0
4,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,1,1984-09-16,22,...,0,0,0,0,0,0,0,0,1,0

## CustodyStatus (one-hot)

In [51]:
RawScore_df = pd.concat([RawScore_df.drop('CustodyStatus', axis=1), pd.get_dummies(RawScore_df['CustodyStatus'])], axis=1)

In [52]:
RawScore_df.head()

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,DateOfBirth,ScaleSet_ID,...,Parole Violator,Post Sentence,Pretrial,Probation Violator,Jail Inmate,Parole,Pretrial Defendant,Prison Inmate,Probation,Residential Program
0,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,1,1992-12-05,22,...,0,0,1,0,1,0,0,0,0,0
1,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,1,1992-12-05,22,...,0,0,1,0,1,0,0,0,0,0
2,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,1,1992-12-05,22,...,0,0,1,0,1,0,0,0,0,0
3,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,1,1984-09-16,22,...,0,0,1,0,1,0,0,0,0,0
4,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,1,1984-09-16,22,...,0,0,1,0,1,0,0,0,0,0

## MaritalStatus (one-hot)

In [53]:
RawScore_df = pd.concat([RawScore_df.drop('MaritalStatus', axis=1), pd.get_dummies(RawScore_df['MaritalStatus'])], axis=1)

In [54]:
RawScore_df.head()

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,DateOfBirth,ScaleSet_ID,...,Prison Inmate,Probation,Residential Program,Divorced,Married,Separated,Significant Other,Single,Unknown,Widowed
0,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,1,1992-12-05,22,...,0,0,0,0,0,0,0,1,0,0
1,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,1,1992-12-05,22,...,0,0,0,0,0,0,0,1,0,0
2,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,1,1992-12-05,22,...,0,0,0,0,0,0,0,1,0,0
3,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,1,1984-09-16,22,...,0,0,0,0,1,0,0,0,0,0
4,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,1,1984-09-16,22,...,0,0,0,0,1,0,0,0,0,0

## Split into 3 dataframes, one for each score

### Risk of Violence

In [55]:
RawScore_RoV = RawScore_df.loc[RawScore_df['DisplayText']=='Risk of Violence']

In [56]:
RawScore_RoV.head()

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,DateOfBirth,ScaleSet_ID,...,Prison Inmate,Probation,Residential Program,Divorced,Married,Separated,Significant Other,Single,Unknown,Widowed
0,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,1,1992-12-05,22,...,0,0,0,0,0,0,0,1,0,0
3,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,1,1984-09-16,22,...,0,0,0,0,1,0,0,0,0,0
6,50855,57181,51963,PRETRIAL,DAYES,DANIEL,NaN,1,1994-08-25,22,...,0,0,0,0,0,0,0,1,0,0
9,50850,57176,51958,PRETRIAL,Debe,Mikerlie,George,0,1994-10-09,22,...,0,0,0,0,0,0,1,0,0,0
12,50839,57162,51945,PRETRIAL,McLaurin,Stephanie,Nicole,0,1985-06-29,22,...,0,0,0,0,0,0,0,1,0,0

### Risk of Failure to Appear

In [57]:
RawScore_RoFtA = RawScore_df.loc[RawScore_df['DisplayText']=='Risk of Failure to Appear']

In [58]:
RawScore_RoFtA.head()

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,DateOfBirth,ScaleSet_ID,...,Prison Inmate,Probation,Residential Program,Divorced,Married,Separated,Significant Other,Single,Unknown,Widowed
2,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,1,1992-12-05,22,...,0,0,0,0,0,0,0,1,0,0
5,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,1,1984-09-16,22,...,0,0,0,0,1,0,0,0,0,0
8,50855,57181,51963,PRETRIAL,DAYES,DANIEL,NaN,1,1994-08-25,22,...,0,0,0,0,0,0,0,1,0,0
11,50850,57176,51958,PRETRIAL,Debe,Mikerlie,George,0,1994-10-09,22,...,0,0,0,0,0,0,1,0,0,0
14,50839,57162,51945,PRETRIAL,McLaurin,Stephanie,Nicole,0,1985-06-29,22,...,0,0,0,0,0,0,0,1,0,0

### Risk of Recidivism

In [59]:
RawScore_RoR = RawScore_df.loc[RawScore_df['DisplayText']=='Risk of Recidivism']

In [60]:
RawScore_RoR.head()

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,DateOfBirth,ScaleSet_ID,...,Prison Inmate,Probation,Residential Program,Divorced,Married,Separated,Significant Other,Single,Unknown,Widowed
1,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,1,1992-12-05,22,...,0,0,0,0,0,0,0,1,0,0
4,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,1,1984-09-16,22,...,0,0,0,0,1,0,0,0,0,0
7,50855,57181,51963,PRETRIAL,DAYES,DANIEL,NaN,1,1994-08-25,22,...,0,0,0,0,0,0,0,1,0,0
10,50850,57176,51958,PRETRIAL,Debe,Mikerlie,George,0,1994-10-09,22,...,0,0,0,0,0,0,1,0,0,0
13,50839,57162,51945,PRETRIAL,McLaurin,Stephanie,Nicole,0,1985-06-29,22,...,0,0,0,0,0,0,0,1,0,0